.container-LandingPage {
  position: relative;
  width: 100vw;
  height: 100dvh;
  font-size: 1.6rem;
  background-color: #ffffff;

  display: block;

  overflow: auto;

  background-image: none;
  padding: 0 4rem;
}

.nav-container {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 4rem;
  border-bottom: 2px solid var(--text-border-gray);
}

.logo-container {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-FACOMP {
  width: 10rem;
}

.logo-FACOMP img {
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--text-theme-2);
  transition: ease-in-out 0.2s;
}

.nav-links a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--text-border-blue);
  transition: ease-in-out 0.2s;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.button-access {
  width: 185px;
  height: 44px;
  background-color: var(--text-background-theme-1);
  border-radius: 5px;
  border: 2px solid var(--text-border-blue);
  font-weight: 500;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 1px 1px 1px var(--text-shadow-theme-1);
}

.button-access:hover {
  cursor: pointer;
  opacity: 65%;
  transition: ease-in-out 0.1s;
}

.button-toggle-theme {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-background-theme-1);
  border-radius: 50%;
  border: 2px solid var(--text-border-blue);
  box-shadow: 0px 1px 1px 1px var(--text-shadow-theme-1);
}

.button-toggle-theme:hover {
  cursor: pointer;
}

.container-page {
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  gap: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
}

.header-page {
  margin-top: 14rem;
}

.header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

.title-page {
  font-weight: 400;
  font-size: 3.7rem;
  text-align: center;
}

.text-facomp {
  color: var(--text-theme-3);
}

.text-header-page {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.text-header-page .text-facomp {
  font-weight: 600;
}

.button-participate {
  width: 200px;
  height: 44px;
  color: var(--text-theme-1);
  background-color: var(--text-background-theme-2);
  border-radius: 5px;
  border: 2px solid var(--text-border-black);
  font-weight: 600;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 1px 1px 1px var(--text-shadow-theme-1);
}

.button-participate:hover {
  cursor: pointer;
  opacity: 65%;
  transition: ease-in-out 0.1s;
}

.image-minhaFacomp-header {
  border: 2px solid var(--text-border-blue);
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
}

.image-minhaFacomp-header figure img {
  width: 100%;
  display: block;
}

.about-page {
  display: flex;
  flex-direction: column;

  gap: 3rem;

  max-width: 1200px;
}

.section-about {
  display: flex;
  gap: 6rem;
}

.section-about-content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
}

.about-page h2 {
  text-align: start;
  font-size: 2.8rem;
  font-weight: 400;
}

.section-about-content p {
  font-weight: 400;
  text-align: justify;
}

.section-logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo-content img {
  width: 80%;
}

.features-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  max-width: 1200px;
}

.features-page h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.features-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.features-icons {
  color: var(--text-theme-3);
}

.features-cards-content {
  max-width: 600px;
  height: 300px;
  padding: 3rem;
  border: 2px solid var(--text-border-blue);
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.features-cards-content h3 {
  font-weight: 500;
}

.features-cards-content p {
  text-align: center;
  color: var(--text-theme-6);
}

@media screen and (min-width: 768px) {
}

@keyframes showLogosAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
