.container-LandingPage {
  width: 100vw;
  height: 100dvh;
  font-size: 1.6rem;
  background-color: #ffffff;

  display: block;

  overflow: auto;

  background-image: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom: 2px solid var(--text-border-gray);
}

.logo-container {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-FACOMP {
  width: 10rem;
}

.logo-FACOMP img {
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--text-theme-2);
  transition: ease-in-out 0.2s;
}

.nav-links a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--text-border-blue);
  transition: ease-in-out 0.2s;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.button-access {
  width: 185px;
  height: 44px;
  background-color: var(--text-background-theme-1);
  border-radius: 5px;
  border: 2px solid var(--text-border-blue);
  font-weight: 500;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 2px 2px 2px var(--text-shadow-theme-1);
}

.button-access:hover {
  cursor: pointer;
  opacity: 65%;
  transition: ease-in-out 0.1s;
}

.button-toggle-theme {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-background-theme-1);
  border-radius: 50%;
  border: 2px solid var(--text-border-blue);
  box-shadow: 0px 2px 2px 2px var(--text-shadow-theme-1);
}

.button-toggle-theme:hover {
  cursor: pointer;
}

.container-page {
  height: 100%;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;
  max-width: 1100px;
}

.title-page {
  font-weight: 400;
  font-size: 3.7rem;
  text-align: center;
}

.text-facomp {
  color: var(--text-theme-3);
}

.text-header-page {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.text-header-page .text-facomp {
  font-weight: 600;
}

.button-participate {
  width: 200px;
  height: 44px;
  color: var(--text-theme-1);
  background-color: var(--text-background-theme-2);
  border-radius: 5px;
  border: 2px solid var(--text-border-black);
  font-weight: 600;
  transition: ease-in-out 0.1s;
  box-shadow: 0px 2px 2px 2px var(--text-shadow-theme-1);
}

.button-participate:hover {
  cursor: pointer;
  opacity: 65%;
  transition: ease-in-out 0.1s;
}

@media screen and (min-width: 768px) {
}

@keyframes showLogosAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
